<?xml version="1.0" encoding="UTF-8"?>
<configuration >
	 <property name="USER_HOME" value="logs"/>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${USER_HOME}/error/www-web-error-%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>10</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
<!-- 			<onMatch>ACCEPT</onMatch> -->
<!-- 			<onMismatch>DENY </onMismatch> -->
		</filter>
		<charset>UTF-8</charset>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	<appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${USER_HOME}/access/www-web-access-%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>10</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
<!-- 			<onMatch>ACCEPT</onMatch> -->
<!-- 			<onMismatch>DENY </onMismatch> -->
		</filter>
		<charset>UTF-8</charset>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
	</appender>



	<!-- project default level -->
	<logger name="com.edooon" level="INFO" />
	<!--log4jdbc -->
	<logger name="jdbc.sqltiming" level="INFO" />

	<property file="mail.properties" />

	<logger name="monitor" additivity="false" level="ERROR">
		<appender-ref ref="EMAIL" />
	</logger>

	<logger name="platform-error" level="error">
		<appender-ref ref="ERROR" />
	</logger>
	<logger name="platform-access" level="info">
		<appender-ref ref="ACCESS" />
	</logger>


	<root level="INFO">
		<appender-ref ref="console" />
		<appender-ref ref="ERROR" />
		<appender-ref ref="INFO" />
		<appender-ref ref="EMAIL"/>
	</root>

</configuration>