
.loginLable{color:#C9AE7A;}
.loginbutton{color:white;background-color:#6699FF;}
.logintitle{font-family:ΊΪΜε;}
.bgc{background-color:#EEEEEE;}
.txtcenter{text-align:center;padding:25px;font-weight:bold;}
.register{margin-right:25px;margin-left:25px;font-family:ΊΪΜε;}
.flat{float:right}
.yellowFont{color:#6699FF;font-family:ΊΪΜε;}